# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Windows Package Compatibility Test with Latest Dependencies

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip if not installed
      run: |
        python -m ensurepip --upgrade || true
        python -m pip install --upgrade pip || true

    - name: Install dependencies from requirements.txt
      run: |
        pip install -r requirements.txt --upgrade || true

    - name: Run tests
      run: |
        python -m unittest discover
